<!DOCTYPE html>
<html>
  <head>
    <script src="https://unpkg.com/htmx.org@0.0.4"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/client-side-templates.js"></script>
    <script src="https://unpkg.com/mustache@latest"></script>
  </head>
  <body>
    <div hx-ext='client-side-templates'>
      <ul id="list"></ul>
      <button
        class="button"
        hx-get=pokeurl()
        mustache-template="my-mustache-template"
        hx-target="#list">
        Handle with mustache
      </button>
    </div>
    <script id="my-mustache-template" type="x-tmpl-mustache">
      {{#beatles}}
        <li>{{name}}</li>
      {{/beatles}}
    </script>
  </body>
</html>
<script>
  function pokeurl(current) {
    current = current || -1
    order   =  Math.floor((Math.random() * 151) + 1);
    if (current > 0 && order == current) {
      order++; // Mutates the variable. Don't love that.
    }
    return "https://pokeapi.co/api/v2/pokemon/" + order
  }
</script>


