<img id="butt" hx-swap-oob="true" src="<%= @pokemon.butt_url %>" title="<%= @pokemon.name %>">
<h3 id="name" hx-swap-oob="true">
  <%= @pokemon.name %> butt
</h3>
<button
  id="button"
  class="button"
  hx-post="/load"
  hx-ext="include-vals"
  include-vals="current: <%= @pokemon.id %>"
  hx-swap-oob="true">
  Get a random Pokebutt
</button>
